.button {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: var(--color-black);
    background-color: transparent;

    display: inline-flex;
    padding-left: 25px;
    align-items: center;
    gap: 25px;

    border: solid 1px var(--color-black);
    border-radius: 50px;
    //padding: 15px 30px;

    transition: ease-out 0.3s;

    .fleche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        transition: ease-out 0.3s;

        border-radius: 41px;
        outline: 1px solid var(--color-black);
        background-color: var(--color-primary);
    }
    &:hover {
        background-color: var(--color-primary);
        color: var(--color-secondary);
        border: solid 1px var(--color-primary);
        text-decoration: none;

        .fleche {
            color: var(--color-primary);
            background-color: var(--color-secondary);
            outline: 1px solid var(--color-primary);
        }
    }

    //@media (max-width: 1100px) {
    //    padding-left: 15px;
    //    gap: 15px;
    //
    //    .fleche {
    //        width: 25px;
    //        height: 25px;
    //    }
    //}
}
