.hero {
    position: relative;
}

.hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0px 100px 0px;
}

.hero__content {
    //position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;

    .description {
        font-family: var(--font-third);
        font-size: var(--font-size-h2);
        font-weight: 400;
        color: var(--color-black);
    }
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;

    .profil {
        font-family: var(--font-secondary);
        font-size: var(--font-size-content);
        font-weight: 400;
        text-transform: uppercase;
        color: var(--color-black);
        padding-left: 100px;
    }
}

.hero__media {
    position: absolute;
    z-index: -1;

    right: -5%;
    bottom: -40%;

    width: 50%;

    img {
        display: block;
        height: 100%;
        width: auto;
    }
}

/*.side-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-content: center;
    gap: 50px;

    div {
        transform: rotate(90deg);
        flex: 1;
        height: 1px;

        background-color: var(--color-black);
    }
}*/
