/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff7ee;
    --color-black: #26201c;

    // Couleurs du projet
    --color-primary: #c15a34;
    --color-secondary: #e0dad1;
    --color-bg-primary: #c9bdae;
    --gradient-primary: linear-gradient(
        var(--color-black),
        var(--color-black) ;
    );
}
