/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #1a1a1a;

    // Couleurs du projet
    --color-primary: #e56d77;
    --color-secondary: #0a2e50;
    --color-bg-primary: #e2e2e2;
}
