/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Anton', sans-serif;
    --font-secondary: 'Montserrat', monospace;

    --font-size-content: #{typo(18px)};
    --font-size-buttons: #{typo(16px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(50px, 75px)};
    --font-size-h2: #{typo(40px, 64px)};
    --font-size-h3: #{typo(24px)};
    --font-size-h4: #{typo(18px)};
}
