{% include "_partials/_header.html" %}

<div class="superhero">
    <div class="wrapper">
        <div class="superhero__media">
            <img src="assets/images/conference.jpg" alt="" />
        </div>
        <div class="superhero__content">
            <p>La potion du motion design</p>
            <h1>Gabirel Daigneault</h1>
        </div>
    </div>
</div>

<section class="propos">
    <div class="wrapper">
        <div class="propos__content">
            <div class="bio">
                <h2>À propos</h2>
                <p>
                    Gabriel est un créatif spécialisé en motion design et en narration visuelle interactive. Passionné par le rythme, la couleur et les
                    expériences immersives, il développe des projets qui combinent design, animation et storytelling moderne.
                </p>
                <p>
                    Au fil des années, il a collaboré avec des studios variés, formé des étudiants en design, et construit une approche axée sur l’émotion et
                    l’efficacité. Ses conférences sont reconnues pour leur clarté, leur dynamisme et leur capacité à rendre le processus créatif accessible à
                    tous.
                </p>
            </div>

            <div class="competenses">
                <div class="links second">
                    <a href="https://www.linkedin.com">
                        <svg class="icon icon--md">
                            <use href="#icon-in"></use>
                        </svg>
                    </a>
                    <a href="https://www.twitch.tv/">
                        <svg class="icon icon--md">
                            <use href="#icon-twitch"></use>
                        </svg>
                    </a>
                    <a href="https://slack.com/intl/fr-ca/">
                        <svg class="icon icon--md">
                            <use href="#icon-fleur"></use>
                        </svg>
                    </a>
                    <a href="https://www.behance.net/">
                        <svg class="icon icon--md">
                            <use href="#icon-be"></use>
                        </svg>
                    </a>
                </div>

                <h3>Ses compétenses</h3>
                <div class="competense">
                    <svg class="icon icon--xl">
                        <use href="#icon-composer"></use>
                    </svg>
                    <div class="details">
                        <h4>Composer des animations</h4>
                        <a href="#">détails ici ></a>
                    </div>
                </div>

                <div class="competense">
                    <svg class="icon icon--xl">
                        <use href="#icon-creer"></use>
                    </svg>
                    <div class="details">
                        <h4>Créer des univers visuels</h4>
                        <a href="#">détails ici ></a>
                    </div>
                </div>

                <div class="competense">
                    <svg class="icon icon--xl">
                        <use href="#icon-transformer"></use>
                    </svg>
                    <div class="details">
                        <h4>Transformer une animation</h4>
                        <a href="#">détails ici ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="porpos__media">
            <div class="links">
                <a href="https://www.linkedin.com">
                    <svg class="icon icon--md">
                        <use href="#icon-in"></use>
                    </svg>
                </a>
                <a href="https://www.twitch.tv/">
                    <svg class="icon icon--md">
                        <use href="#icon-twitch"></use>
                    </svg>
                </a>
                <a href="https://slack.com/intl/fr-ca/">
                    <svg class="icon icon--md">
                        <use href="#icon-fleur"></use>
                    </svg>
                </a>
                <a href="https://www.behance.net/">
                    <svg class="icon icon--md">
                        <use href="#icon-be"></use>
                    </svg>
                </a>
            </div>
            <div class="galerie">
                <img class="boxe" src="assets/images/boxe.jpg" alt="" />
                <img class="dessin" src="assets/images/dessin.jpg" alt="" />
                <img class="portable" src="assets/images/portable.jpg" alt="" />
                <img class="pico" src="assets/images/pico.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="decouvrir">
    <div class="wrapper">
        <h2>Plus à découvrir</h2>
        <p>
            Découvrez d’autres ateliers, discussions et présentations qui se dérouleront durant la conférence. Chaque événement propose une perspective
            différente sur le design, la création et l’innovation.
        </p>
    </div>
</section>

{% include "_partials/_footer.html" %}
