{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<div class="hero">
  <div class="wrapper">
    <div class="contenu">
      <div class="titre">
        <p class="profil">Design UI / UX</p>

        <h1>
          Gabriel
          <br />
          Daigneault
        </h1>

        <h2 class="subtitle">Designer graphique · UI/UX · Création média 3D</h2>
      </div>

      <p class="description">
        Je fais du design et quand ça ne suffit pas,
        <br />
        je passe en 3D
      </p>

      <a href="projets.html" class="button">
        voir mes projets
        <span class="fleche">
          <svg class="icon icon--sm"><use href="#icon-fleche"></use></svg>
        </span>

        <!--<img src="assets/icons/fleche.svg" alt="" style="width: 24px; height: 17px" /> -->
      </a>
    </div>

    <div class="media">
      <img class="desktop" src="assets/images/moi_cercle.png" alt="" />
      <img class="mobile" src="assets/images/moi_cercle_mobile.png" alt="" />
    </div>
  </div>
</div>

<nav class="links">
  <a href="assets/cv.pdf" class="link" target="_blank">
    <span class="nombre">01</span>
    <span class="content">
      <span class="nom">cv</span>
      <svg class="icon icon--lg"><use href="#icon-fleche"></use></svg>
    </span>
  </a>

  <a href="https://www.linkedin.com/in/ton-profil" class="link" target="_blank">
    <span class="nombre">02</span>
    <span class="content">
      <span class="nom">linkedin</span>
      <svg class="icon icon--lg"><use href="#icon-fleche"></use></svg>
    </span>
  </a>

  <a href="https://pin.it/1L8aJKAA7" class="link" target="_blank">
    <span class="nombre">03</span>
    <span class="content">
      <span class="nom">pinterest</span>
      <svg class="icon icon--lg"><use href="#icon-fleche"></use></svg>
    </span>
  </a>

  <a
    href="https://www.artstation.com/gabriel20daigno2"
    class="link"
    target="_blank"
  >
    <span class="nombre">04</span>
    <span class="content">
      <span class="nom">artstation</span>
      <svg class="icon icon--lg"><use href="#icon-fleche"></use></svg>
    </span>
  </a>
</nav>

<section class="valeur">
  <div class="wrapper">
    <div class="text">
      <div class="titre">
        <h3>qui suis-je ?</h3>
        <span class="trait"></span>
      </div>

      <p class="description">
        Je suis finissant en
        <strong>Techniques d’intégration multimédia</strong>
        au Cégep Édouard-Montpetit avec un profil axé sur
        <strong>le design graphique, UI/UX</strong>
        ainsi qu’à la
        <strong>création de média 3D</strong>
        . J’aime passer d’une idée à quelque chose de concret, que ce soit une
        interface, une identité visuelle ou un univers en 3D.
      </p>
    </div>

    <div class="line"></div>

    <p class="citation">
      « Créatif de
      <strong>nature</strong>
      , designer par
      <strong>passion</strong>
      »
    </p>
  </div>
</section>

<section class="video">
  <div class="wrapper">
    <div class="titre">
      <h3>
        qui suis-je
        <br />
        en 60 secondes
      </h3>
      <span class="trait"></span>
    </div>

    <img class="cercle" src="assets/images/cerlce_bg.png" alt="" />

    <div class="player" data-component="Youtube" data-video-id="DwjrUkfZv4o">
      <div class="video__media js-video">
        <img
          class="js-poster"
          src="assets/images/canyon.jpg"
          alt="Vidéo de présentation"
        />

        <svg class="icon icon--xl">
          <use href="#icon-btnPlay"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<section class="competences">
  <div class="wrapper">
    <div class="titre">
      <div class="hauteur">
        <h3 id="competences-titre">compétences</h3>
      </div>
      <span class="trait"></span>
    </div>

    <ul class="liste">
      <li>
        <span class="num">01</span>
        Design UI / UX
      </li>
      <li>
        <span class="num">02</span>
        Design graphique
      </li>
      <li>
        <span class="num">03</span>
        Prototypage
      </li>
      <li class="pas-ligne">
        <span class="num">04</span>
        Modélisation
      </li>
      <li>
        <span class="num">05</span>
        Animation 2D / 3D
      </li>
      <li>
        <span class="num">06</span>
        Retouche d’image
      </li>
      <li>
        <span class="num">07</span>
        Création d’image
      </li>
      <li class="pas-ligne">
        <span class="num">08</span>
        Montage vidéo et sonore
      </li>
    </ul>
  </div>
</section>

<section class="outils-langages">
  <img class="cercle" src="assets/images/cerlce_bg.png" alt="" />

  <div class="wrapper">
    <div class="titre">
      <h3 id="outils-titre">
        mes outils
        <br />
        et langage
      </h3>
      <span class="trait"></span>
    </div>

    <div class="contenu">
      <ul class="outils">
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-figma"></use></svg>
          </div>
          <span class="nom">Figma</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-photoshop"></use></svg>
          </div>
          <span class="nom">Photoshop</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-blender"></use></svg>
          </div>
          <span class="nom">Blender</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-reaper"></use></svg>
          </div>
          <span class="nom">Reaper</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm">
              <use href="#icon-illustrator"></use>
            </svg>
          </div>
          <span class="nom">Illustrator</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm">
              <use href="#icon-after-effect"></use>
            </svg>
          </div>
          <span class="nom">After Effect</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm">
              <use href="#icon-creative-cloud"></use>
            </svg>
          </div>
          <span class="nom">Suite Adobe</span>
        </li>
      </ul>

      <ul class="langages" aria-label="Langages">
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-html"></use></svg>
          </div>
          <span class="nom">HTML</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-css"></use></svg>
          </div>
          <span class="nom">CSS</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--sm"><use href="#icon-js"></use></svg>
          </div>
          <span class="nom">JS</span>
        </li>
        <li>
          <div class="pastille">
            <svg class="icon icon--md"><use href="#icon-php"></use></svg>
          </div>
          <span class="nom">PHP</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="travail-interets">
  <div class="wrapper">
    <div class="bloc">
      <div class="titre">
        <h3 id="travail-titre">
          comment
          <br />
          je travaille
        </h3>
        <span class="trait"></span>
      </div>

      <ul class="liste">
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>À l’écoute</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Créatif</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Rigoureux</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Polyvalant</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Respectueux</p>
        </li>
      </ul>
    </div>

    <span class="line"></span>

    <div class="bloc">
      <div class="titre">
        <h3 id="interets-titre">
          en dehors
          <br />
          du design
        </h3>
        <span class="trait"></span>
      </div>

      <ul class="liste">
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Escalade</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Gym</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Snowboard</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Mode</p>
        </li>
        <li>
          <svg class="icon fleche"><use href="#icon-fleche"></use></svg>
          <p>Amis</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="suite">
  <div class="cercle">
    <img src="assets/images/cercle_stroke.png" alt="" />
  </div>

  <div class="wrapper">
    <div class="contenu">
      <div class="titre">
        <h3>La suite ?</h3>
        <span class="trait"></span>
      </div>

      <p class="description">
        Je veux maintenant passer à des vrais
        <strong>projets professionnels</strong>
        et je suis à la recherche d’un
        <strong>stage en design</strong>
        . J’aimerais collaborer avec d’autres professionnels, apprendre de leurs
        façons de travailler et découvrir le milieu. Pour moi, c’est une façon
        d’élargir mon savoir-faire, de gagner de l’expérience et de continuer à
        développer ma passion pour le design.
      </p>
    </div>
  </div>
</section>

{% include "_partials/_footer.html" %}
